/09 . Arquitetura e Projeto/PedidosJa/Model/bin
/09 . Arquitetura e Projeto/PedidosJa/Model/obj
/09 . Arquitetura e Projeto/PedidosJa/Negocio/bin
/09 . Arquitetura e Projeto/PedidosJa/Negocio/obj
/09 . Arquitetura e Projeto/PedidosJa/PedidosJa/bin
/09 . Arquitetura e Projeto/PedidosJa/PedidosJa/obj
/09 . Arquitetura e Projeto/PedidosJa/Persistencia/bin
/09 . Arquitetura e Projeto/PedidosJa/Persistencia/obj
/.vs
