@model IEnumerable<Model.Models.Pedido>

@{
    ViewBag.Title = "Lista de Pedidos";
}

<h2>Lista de Pedidos</h2>

    @{
        WebGrid pedidos = new WebGrid(source: Model, canPage: true, canSort: true);
        @pedidos.GetHtml(
         displayHeader: true,
         fillEmptyRows: true,
         emptyRowCellValue: "---",
         mode: WebGridPagerModes.All,
         numericLinksCount: 2,
         tableStyle: "table",
         columns: pedidos.Columns(
             pedidos.Column("EnderecoUsuario", "Endereço do Cliente"),
             pedidos.Column("DescricaoPagamento", "Descrição do pagamento"),
             pedidos.Column("TelefoneUsuario", "Telefone do cliente"),
             pedidos.Column("NomeUsuario", "Nome do cliente"),
             pedidos.Column("Situacao", "Situação"),
             pedidos.Column("Data", "Data do pedido"),
             pedidos.Column(null,null, canSort: false,
                format: (item) => new HtmlString(String.Format("{0}", new object[] {
                    Html.ActionLink("Detalhe do Pedido", "VerPedidoEmpresa", new { id = item.Id }).ToString()
                }))
              )
            )
    );
    }

</table>