<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Início", "Empresa", "Home")</li>
        <li>@Html.ActionLink("Produtos", "Index", "Home")</li>
        <li>@Html.ActionLink("Complementos", "Index", "Home")</li>
        <li>@Html.ActionLink("Sair", "Index", "Home")</li>
    </ul>
</div>