@model IEnumerable<Model.Models.Complemento>

@{
    ViewBag.Title = "Lista de Complementos";
}

<h2>Lista de Complementos</h2>

<p>
    @Html.ActionLink("Novo Complemento", "Create")
</p>

@{
    WebGrid complementos = new WebGrid(source: Model, canPage: true, canSort: true);
    @complementos.GetHtml(
         displayHeader: true,
         fillEmptyRows: true,
         emptyRowCellValue: "---",
         mode: WebGridPagerModes.All,
         numericLinksCount: 2,
         tableStyle: "table",
         columns: complementos.Columns(
             complementos.Column("Descricao", "Descrição"),
             complementos.Column(null, null, canSort: false,
                format: (item) => new HtmlString(String.Format("{0} | {1}", new object[] {
                    Html.ActionLink("Alterar", "Alterar", new { id=item.Id }).ToString(),
                    Html.ActionLink("Remover", "Remover", new { id=item.Id }).ToString()
                }))
              )
            )
    );
}
